docs/node_modules
.DS_Store
docs/lib/core/metadata.js
docs/lib/core/MetadataBlog.js
docs/website/translated_docs
docs/website/build/
docs/website/yarn.lock
docs/website/node_modules

docs/website/i18n/*
!docs/website/i18n/en.json

