docs/node_modules
.DS_Store
docs-src/lib/core/metadata.js
docs-src/lib/core/MetadataBlog.js
docs-src/website/translated_docs
docs-src/website/build/
docs-src/website/yarn.lock
docs-src/website/node_modules

docs-src/website/i18n/*
!docs-src/website/i18n/en.json

